.header {
  width: 100%;
  height: 120px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  border-bottom: solid 10px #358aca;
  padding: 4rem 0;
  position: sticky; top: 0;
  z-index: 100;
}

@media (max-width: 600px) {
  .header {
    font-size: 1rem;
  }
}
