.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  word-break: break-word;
  border: 2px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  border: 2px solid #358aca;
  box-shadow: 4px 4px 2px 1px #358aca;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color: #358aca;
}

.card p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .card {
    width: 100%;
    margin: 0;
  }
}
